<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB28EzQkn_u5dD9dCptE1byQAbY9f-7vvw</string>
	<key>GCM_SENDER_ID</key>
	<string>1030810928753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRemoteConfigExample</string>
	<key>PROJECT_ID</key>
	<string>flutter-remote-config-ex-2f87f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-remote-config-ex-2f87f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030810928753:ios:fa9182a2f038681a2b3dd0</string>
</dict>
</plist>